<h2>Create a New Book</h2>
<% if @book.errors.any? %>
  <ul class="errors">
    <% @book.errors.each do |field, message| %>
      <li>
        <strong><%= field.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>
<%= render partial: "form" %>
